.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 80px;
    font-size: 1.4em;
  }
  
  
      
    hr { display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1.4px;
      width:  100% ;}